/* You can add global styles to this file, and also import other style files */
@import './assets/scss/variables';
@import './assets/scss/reset';
@import './assets/scss/normalize';
@import '../node_modules/font-awesome/scss/font-awesome';
@import url('https://fonts.googleapis.com/css?family=Ubuntu');


* {
    box-sizing: border-box;
    font-family: Ubuntu;
}

.box-shadow {
    box-shadow: 0 4px 15px  #bbb;
}
.border-radius {
    border-radius: 8px;
}